doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Redefini&ccedil;&atilde;o de Senha
  style.
    body {
    font-family: Arial, sans-serif;
    background-color: #292726;
    margin: 0;
    padding: 0;
    }
    .email-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #1a1c1d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .header {
    text-align: center;
    padding: 20px;
    }
    .header img {
    max-width: 150px;
    }
    .content {
    padding: 20px;
    }
    .content h1 {
    color: #c5c3c3;
    }
    .content p {
    color: #c8c3bc;
    line-height: 1.5;
    }
    .content a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    }
    .button-container {
    text-align: center;
    }
    .footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #999999;
    }
    .small-font {
    font-size: 12px;
    margin-bottom: 2px;
    }
    .small-italic {
    font-size: 12px;
    font-style: italic;
    margin-top: 2px;
    }
    .url-link {
    word-break: break-all;
    }
.email-container
  .header
    img(src='https://www.bemsoft.com.br/images/logo-footer.png', alt='Logo Bemsoft')
  .content
    h1 Redefini&ccedil;&atilde;o de Senha
    p Ol&aacute;, 
    p
      | Recebemos uma solicita&ccedil;&atilde;o para redefinir a senha da sua conta. Para redefinir sua senha, clique no bot&atilde;o abaixo:
    .button-container
      a(href=`${url}`) Redefinir Senha
    p
      | Se voc&ecirc; n&atilde;o solicitou a redefini&ccedil;&atilde;o de senha, por favor ignore este e-mail. Sua senha atual n&atilde;o ser&aacute; alterada.
    p
      | Atenciosamente,
      br
      | Equipe Bemsoft
      br
      br
      br
    p.small-font Se n&atilde;o conseguir acessar pelo bot&atilde;o, copie o link e acesse pelo seu navegador:
    p.small-italic.url-link #{url}
  .footer
    p Este &eacute; um e-mail autom&aacute;tico, por favor, n&atilde;o responda.
    p &copy; 2024 Bemsoft. Todos os direitos reservados.
